[2021-01-08 20:39] shahzebsiddiqui opened #2 "add CONTRIBUTING guide"

[2021-01-09 18:07] #2 closed

[2021-02-01 21:49] shahzebsiddiqui opened #10 "bump release of gitlab mirroring to latest version"
https://github.com/stenongithub/gitlab-mirror-and-ci-action/releases

[2021-02-09 22:01] shahzebsiddiqui opened #18 "add darshan test"
See https://xgitlab.cels.anl.gov/darshan/darshan/-/tree/master/darshan-test/regression for darshan regression test. We should add the test related to Cori in https://xgitlab.cels.anl.gov/darshan/darshan/-/tree/master/darshan-test/regression/cray-module-nersc

[2021-02-09 23:55] #10 closed

[2021-02-16 18:49] shahzebsiddiqui opened #24 "bug with darshan test cpi.c"
Source: https://github.com/buildtesters/buildtest-cori/blob/devel/buildspecs/apps/darshan/cpi.c
Buildspecs: https://github.com/buildtesters/buildtest-cori/blob/devel/buildspecs/apps/darshan/darshan-hello.yml
[buildtest.log](https://github.com/buildtesters/buildtest-cori/files/5990963/test.log)

[code]

This is the setup script sourced from executor

[code]

Output of build

[code]

[2021-02-17 01:16] #24 closed

[2021-03-10 23:38] shahzebsiddiqui opened #34 "Fortran MPI code not working"
[code]

The output reports an error finding `mpif.h` which i don't understand. It should be available as part of the modules.

[code]

[2021-03-15 20:00] shahzebsiddiqui opened #37 "use mirroring workflow to automate triggering of facility pipelines"
Right now the pipelines are setup on `manual` trigger it would be nice to trigger pipeline through the PR instead of logging into the gitlab instance to run the trigger. Would like to explore https://github.com/adityakavalur/gitlab-mirror-and-ci-action action for the CI job. If this CI workflow is doable we can adopt it.

The other alternative is to switch the git repos and make the mirror https:/

[2021-03-15 20:01] shahzebsiddiqui commented on #37
@adityakavalur if you are comfortable with the CI workflow, i'd be fine in experimenting with this repo and we can test it out. If not the alternative may simplify the solution i'd like to get your thoughts

[2021-03-15 20:08] adityakavalur commented on #37
I think the gitlab-mirror-and-ci-action is a better solution than making software.nersc.gov the source repo. That would limit the code contributors to NERSC credentialed users, which is an artificial limit on collaboration.
The mirroring action is ready to test, I can create a tag for you to use

[2021-03-15 20:13] shahzebsiddiqui commented on #37
oh yes a pinned version of the github action would be first. Then i'd welcome if you want to setup the CI workflow i suspect there would be few use-cases we need to try. I guess first question is does this workflow work off forks from PRs or just PRs from same repo.

[2021-03-15 21:50] adityakavalur commented on #37
It works for PR's from fork as well as in repo. The action itself classifies them separately, however, the authorization flow and outcome is the same. I am open to modifying the workflow if there is a compelling case to treat them differently. The release se_v0.1 (secure-external v0.1) can be found [here](https://github.com/adityakavalur/gitlab-mirror-and-ci-action/releases/tag/se_v0.1).
Examples

[2021-03-18 16:01] shahzebsiddiqui commented on #37
I think once you get this action registered in github marketplace and move repo to another location we can revisit this issue.

[2021-03-19 21:10] shahzebsiddiqui opened #39 "push buildtest data to cdash upon CI"
Thanks to  @zackgalbreath script https://gist.github.com/zackgalbreath/70ecad06bf10b468013f5a0b1e7afc25 we are able to push buildtest results to cdash at https://my.cdash.org/index.php?project=buildtest-cori. Next step is to get this script working with gitlab CI so we can see test results in cdash for scheduled pipelines

[2021-03-24 05:48] shahzebsiddiqui commented on #39
#40

[2021-03-24 05:48] #39 closed

[2021-04-13 18:13] shahzebsiddiqui commented on #37
@adityakavalur now that we have a registered gitlab action can you try to prototype the CI workflow for this project. If it works, i would be willing to replace the current CI workflow with your github action. One thing that i would like is automatic facility pipeline. If i need a human intervention between each pipeline trigger upon commit in PR.

[2021-04-20 19:38] shahzebsiddiqui opened #48 "issue with darshan test"
See CDASH build: https://my.cdash.org/test/29125946
Buildspec : https://github.com/buildtesters/buildtest-cori/blob/devel/buildspecs/apps/darshan/darshan-hello.yml

[2021-04-20 21:20] adityakavalur commented on #34
@shahzebsiddiqui I see that it is picking up `ifort` instead of `mpiifort` which is what is causing issues with the build. Also runtime issues are caused by passing `-c 32` and `-n 8` while requesting only 1 node.

[2021-04-20 21:32] adityakavalur commented on #37
The action is pending review from SEC. We have had initial discussions. They are going to prepare a questionnaire and require certain logging/audit capabilities for the action, which is part of the approval process.
We can come back to this after that.

[2021-04-20 21:49] #34 closed

[2021-04-21 02:08] shahzebsiddiqui commented on #37
Thanks for the update. I take it that means you would need to add logging support in your action and do another release. Once it's ready for use please feel free to try this out on this repo, I'd be interested to see how it works out especially Fork PR testing

[2021-04-26 18:24] shahzebsiddiqui opened #50 "E4S Testsuite returncode 0 with errors in output"
@wspear

Following up on our conversation from Friday, I am going to capture this in issue. We are seeing several packages with error message in output

![Screen Shot 2021-04-26 at 2 20 48 PM](https://user-images.githubusercontent.com/12942230/116131615-9af73a00-a69a-11eb-89da-7a7882273133.png)

I dont understand why its saying package not found. We have hypre package installed in e4s/20.10. See b

[2021-04-29 14:02] shahzebsiddiqui commented on #50
@wspear,

i am getting same issue i ran test once after making change to before_script

[code]

[code]

[code]

I see qthreads in spack find so not sure why its not working
[code]

[2021-04-29 14:32] wspear commented on #50
The issue here is that qthreads needs a particular variant for the test to run successfully (at least in our initial testing environment). If you look at setup.sh for this test you'll see:
spackLoadUnique qthreads scheduler=distrib
So if the installed version of qthreads is using a different scheduler it won't be found.

[2021-04-29 15:55] wspear commented on #50
As of when this test was created it required scheduler to be either sherwood or distrib in our default run environment.  The default scheduler fails to run with this test code. I can't confirm that it's necessary on Cori right now though.

This is specific to qthreads. There are very few tests that have specific variant requirements.

[2021-04-30 17:59] shahzebsiddiqui commented on #50
thats good to know, if there are certain variant requirements for running test that will certainly be site specific test. In those case it's worth noting this so we can incorporate the test at each facility. I dont have a good way to approach this other than just running and analyzing the test. But perhaps a README for each test can help document and test requirements could be sufficient.

[2021-04-30 21:10] shahzebsiddiqui commented on #50
i'd eventually like to move to model of cloning `testsuite` repo off develop and just run the tests. Right now the way `before_script` is setup will run the command once. I didn't want to clone this repo for every test since buildtest creates a unique directory path.

You are welcome to update the `spack load` and see if it works on Cori. If its worth it when doing site specific tests it would be

[2021-05-04 17:02] #50 closed

[2021-06-22 16:19] shahzebsiddiqui opened #55 "tau test for e4s 21.02"
@wspear @sameershende

We have installed tau in E4S 21.02 as follows:
[code]

We need a basic smoke test for this package that should a buildspec that should be written in https://github.com/buildtesters/buildtest-cori/tree/devel/buildspecs/e4s which includes:
- [ ] Use the `e4s` tags so it runs via `buildtest build --tags e4s` in the scheduled pipeline
- [ ] description of test
- [ ] maintainer f

[2021-06-22 16:28] shahzebsiddiqui opened #56 "openpmd-api test for E4S 21.02"
@ax3l

We have deployed openpmd-api in E4S/21.02. We need a test for this package

[code]

We should have a test that test this instance via `module load` or `spack load`

The openpmd-api is built with following variants which enables adios2, hdf5 and mpi. Not sure if its worth testing openpmd-api with these extensions

[code]

I notice this package provides the binary `openpmd-ls` the most basic

[2021-06-22 16:31] wspear commented on #55
The NPB3.1 test in the testsuite tests TAU, PDT and PAPI together.  The taucc error is corrected by these pull requests: https://github.com/spack/spack/pull/24457  https://github.com/spack/spack/pull/24456

[2021-06-22 16:52] sameershende commented on #55
The taucc error is corrected by these pull requests: [spack/spack#24457](https://github.com/spack/spack/pull/24457) and [spack/spack#24456](https://github.com/spack/spack/pull/24456).

[2021-06-23 20:39] shahzebsiddiqui commented on #55
That's good to know. I don't frankly care what gets tested for Tau i will leave that up to either of you. If you need help please read the [CONTRIBUTING.md](https://github.com/buildtesters/buildtest-cori/blob/devel/CONTRIBUTING.md) guide. This could be a test from E4S Testsuite, or a custom test written in buildspec template.

[2021-07-29 13:06] wspear commented on #55
A spack test for tau has been added via this PR: https://github.com/spack/spack/pull/25036

[2021-07-31 01:37] shahzebsiddiqui commented on #55
Thanks for the update, so given that this is not merged in spack and we have deployments of 20.10, 21.02, 21.05 available on Cori this test won't be available unless spack decides to tell us which PRs we can cherry pick or if they will sync some of these changes to their upstream branches like `e4s-21.02`, `e4s-21.05` branch. In the meantime, we would still need to add test for the facility deploy

[2021-08-03 18:42] shahzebsiddiqui opened #58 "document e4s runner"
@adityakavalur just a reminder. You can document this in the README

Documentation on the ehe `e4s` runner that may include
  - How to start/stop/restart runner
  - Where are the configuration files
  - How to troubleshoot runner failures, logfiles?

[2021-08-06 17:17] shahzebsiddiqui commented on #58
thanks @adityakavalur. Closing this issue now

[2021-08-06 17:17] #58 closed

[2021-08-06 21:33] ax3l commented on #56
Interesting, I had a spack test variant in if for a long time.
We could just run ctest with it. I'll copy from somewhere, let's see. Maybe the CMake spack package or so

[2021-08-09 18:29] ax3l commented on #56
Added tests in https://github.com/spack/spack/pull/25300 :)

[2021-08-09 21:52] shahzebsiddiqui commented on #56
Thanks @ax3l so if i understand one of the test is to run `openpmd-ls --version` and the other is running `ctest --output-on-failure -j1` which would run all the tests which could be extensive. For time being, what can we test considering this PR won't get in to your spack instance. We would need test in this repo so we can run the test. Would you be able to provide this.

[2021-08-10 10:22] shahzebsiddiqui opened #62 "[Bug]: upcxx@2021.03%intel for e4s/21.05"
@PHHargrove @bonachea

### CDASH Build

https://my.cdash.org/test/38727128

### Link to buildspec file

https://github.com/buildtesters/buildtest-cori/blob/devel/buildspecs/e4s/spack_test/upcxx.yml

### Please describe the issue?

The spack test run command is failing for `upcxx@2021.03` for  `e4s/21.02` module. For more details on this stack see https://docs.nersc.gov/applications/e4s/cori/21.02/

[2021-08-10 17:11] PHHargrove commented on #62
@shahzebsiddiqui is `gasnet@2020.3.0` above a typo for `gasnet@2021.3.0`?
If not, you really shouldn't be building upcxx with a gasnet which is one-year older.

Assuming that was a typo, the problem doesn't look to me like a problem in GASNet so much as a problem with the link step.  The message is naming an Intel compiler builtin as missing, which consistent with using something other than the In

[2021-08-10 19:15] shahzebsiddiqui commented on #62
According to https://docs.nersc.gov/applications/e4s/cori/21.02/#overview it is `gasnet@2020.3.0` this was the 21.02 release based on https://github.com/E4S-Project/e4s/blob/master/environments/21.02/spack.yaml from E4S which we built. The [21.05 release](https://github.com/E4S-Project/e4s/tree/master/environments/21.05) has the newer version of gasnet as you suggested. The toolchain is built with

[2021-08-10 19:30] PHHargrove commented on #62
@shahzebsiddiqui

I am confused.  Your https://docs.nersc.gov/applications/e4s/cori/21.02/#overview link shows upcxx **2020.10.0** and gasnet 2020.3.0.   That is quite different from mixing upcxx **2021.30** with gasnet 2020.3.0 as I am reading your initial description.

Regardless of the version in play, I believe your tests are consistent with my belief that the test environment is flawed (runni

[2021-08-10 19:49] shahzebsiddiqui commented on #62
I apologize for the confusion, that was my fault. This issue was related to e4s/21.05 stack for upcxx not e4s/21.02 so please disregard https://docs.nersc.gov/applications/e4s/cori/21.02/#overview. We don't have a page for e4s/21.05 but there is an open MR https://gitlab.com/NERSC/nersc.gitlab.io/-/merge_requests/1435 if you want to see the docs and list of packages.

If i understand, the tests pr

[2021-08-10 20:02] bonachea commented on #62
@shahzebsiddiqui said:

Hi @shahzebsiddiqui  - I believe this IS the case. The `spack install` for UPC++ captures the Cray cc/CC compiler wrappers and uses them to build the library, and those same wrappers are later used again during `spack test` to link the tests.  However the behavior of these wrappers ARE sensitive to the PrgEnv module loaded, so I believe it's your responsibility to ensure th

[2021-08-10 20:48] shahzebsiddiqui commented on #62
Thanks for the clarification, let me i think i would need to refactor this test to load the modules before running `spack test`. I will test this out and see if test will pass.

[2021-08-12 20:40] #62 closed

[2021-08-16 17:50] #56 closed

[2021-08-17 01:47] ax3l commented on #56
That's correct, but I am able to run those tests on public CI with 2 dedicated CPU cores, so they should be easily runnable on any hardware.

[2021-08-19 15:00] wspear commented on #55
Added tau.pdt.papi test to buildtest. Looks like some submit-limit issues are preventing the tests from running as expected within the ci job but they work when launched independently. https://github.com/buildtesters/buildtest-cori/pull/65#event-5177504303

[2021-08-19 22:30] shahzebsiddiqui commented on #55
Closing this issue now #65 thanks @wspear

[2021-08-19 22:30] #55 closed

[2021-08-31 21:35] shahzebsiddiqui opened #68 "[Bug]: raja@0.13.0 test failure"
@davidbeckingsale @rhornung67 i see you one of the maintainers for `raja` we have e4s/21.02 test that is failing via `spack test`.  Please see below and how we can fix this.

Looping in @tldahlgren @wspear

### CDASH Build

https://my.cdash.org/test/40212477

### Link to buildspec file

https://github.com/buildtesters/buildtest-cori/blob/devel/buildspecs/e4s/spack_test/raja.yml

### Please describ

[2021-08-31 21:54] shahzebsiddiqui opened #69 "[Bug]: hypre@2.20 for e4s/21.02"
### CDASH Build

https://my.cdash.org/test/40212469

### Link to buildspec file

https://github.com/buildtesters/buildtest-cori/blob/devel/buildspecs/e4s/spack_test/hypre.yml

### Please describe the issue?

We are not finding `mpicc` wrapper this is not provided in startup modules so i am not sure whats the deal. Looking at the spack dependencies for `hypre` we have two instance of hypre built wi

[2021-08-31 22:14] shahzebsiddiqui opened #70 "[Bug]: superlu@5.2.1 and superlu-dist@6.4.0"
### CDASH Build

https://my.cdash.org/test/40212466, https://my.cdash.org/test/40212465

### Link to buildspec file

https://github.com/buildtesters/buildtest-cori/blob/devel/buildspecs/e4s/spack_test/superlu.yml

### Please describe the issue?

In test https://my.cdash.org/test/40212466 we are getting permission error because we are trying to write `make.inc` in install directory which is not goi

[2021-11-30 20:14] shahzebsiddiqui opened #76 "[Bug]: openpmd-ls failing"
### CDASH Build

https://my.cdash.org/test/45911851

### Link to buildspec file

https://github.com/buildtesters/buildtest-cori/blob/devel/buildspecs/apps/openpmd-api/openpmd-ls.yml

### Please describe the issue?

@ax3l openpmd-api test is not running correctly now

I was able to confirm that `spack load` is not working for some reason

[code]

there is a openpmd-api package

[code]

Loading the

[2021-11-30 21:39] shahzebsiddiqui commented on #76
this has been addressed in https://software.nersc.gov/NERSC/buildtest-cori/-/merge_requests/13

[2021-11-30 21:39] #76 closed

[2022-01-05 17:57] #48 closed

[2022-01-05 17:57] shahzebsiddiqui commented on #48
This is fixed now see https://my.cdash.org/test/46987944

[2022-05-17 14:25] shahzebsiddiqui opened #78 "[Bug]: hybrid MPI OpenMP test failure with intel"
### CDASH Build

https://my.cdash.org/test/55616632

### Link to buildspec file

https://github.com/buildtesters/buildtest-nersc/blob/devel/buildspecs/apps/mpi/hybrid-hello.yml

### Please describe the issue?

Issue loading intel module `intel/19.0.3.199` due to conflict in existing module. We need to run `module swap intel intel/19.0.3.199`

### Relevant log output

[code]

[2022-05-17 14:30] shahzebsiddiqui opened #80 "[Bug]: Test failure with bupc unable to find upcc"
### CDASH Build

https://my.cdash.org/test/55616638

### Link to buildspec file

https://github.com/buildtesters/buildtest-nersc/blob/devel/buildspecs/apps/bupc/hello-bupc.yml

### Please describe the issue?

The modulefile `upcxx/2020.10.0` is not available on Cori , we should use a different version to test the software

[code]

### Relevant log output

[code]

[2022-05-26 19:20] Xiangs18 commented on #80
Hi, please choose modulefile **upcxx-bupc-narrow/2021.9.0** to compile C code. The detailed analysis is below:

<img width="733" alt="Screen Shot 2022-05-26 at 3 17 20 PM" src="https://user-images.githubusercontent.com/22202096/170561305-78eb54ae-6c5c-46c6-9f70-7dcd1c671c75.png">

[2022-05-26 21:10] shahzebsiddiqui commented on #80
@bonachea i wanted to ask you do you manage these upcxx modules under `/global/common/cori_cle7up03/ftg/modulefiles` module tree. If so we had bug in one of the test and was going to try testing one of the upcxx code. Would you recommend we use the default version. Apparently we had test with `upcxx/2020.10.0` modulefile but that was removed recently

[2022-05-26 21:11] shahzebsiddiqui commented on #78
Hi @Xiangs18,

this looks good can you please issue an MR.

[2022-05-26 21:38] bonachea commented on #80
Hi @shahzebsiddiqui and @Xiangs18
Yes, our group manages the module files under `/global/common/cori_cle7up03/ftg/modulefiles`, @phhargrove does the actual installs.

IIUC you are interested in running a [**UPC**](https://upc.lbl.gov) test (not to be confused with [**UPC++**](https://upcxx.lbl.gov), which is a completely different programming model).  The latest version of Berkeley UPC installed o

[2022-05-26 22:17] bonachea commented on #80
PS - For scripting purposes you are probably best off just using `module load bupc` (no version) to get the default version, since the version is entirely irrelevant for the simple test program.

[2022-05-27 02:39] shahzebsiddiqui commented on #80
Thanks for the detailed explanation @bonachea in that case we will use the default bupc  module file for testing

[2022-05-31 16:56] shahzebsiddiqui opened #81 "[Bug]: Kokkos bug with spack spec on e4s/21.11 on Perlmutter"
@rgayatri can you please look into this issue i remember we worked on developing this test. I think we just need to change the kokkos spec since we rebuilt the stack and used gcc@11.2.0

### CDASH Build

 https://my.cdash.org/test/56389576

### Link to buildspec file

https://github.com/buildtesters/buildtest-nersc/blob/devel/buildspecs/apps/kokkos/kokkos_axpby.yml

### Please describe the issue?

[2022-06-01 14:09] shahzebsiddiqui commented on #78
This was fixed in https://software.nersc.gov/NERSC/buildtest-nersc/-/merge_requests/46

[2022-06-01 14:09] #78 closed

[2022-06-01 14:11] shahzebsiddiqui commented on #80
This was fixed by MR https://software.nersc.gov/NERSC/buildtest-nersc/-/merge_requests/44

[2022-06-01 14:11] #80 closed

[2022-06-01 15:32] Xiangs18 opened #82 "[Bug]: kokkos axpby OpenMP error with unknown module "kokkos/3.4.01-gcc-9.3.0" on perlmutter"
### CDASH Build

https://my.cdash.org/test/56389577

### Link to buildspec file

https://github.com/buildtesters/buildtest-nersc/blob/devel/buildspecs/apps/kokkos/kokkos_axpby.yml

### Please describe the issue?

Module "kokkos/3.4.01-gcc-9.3.0" does not exist on perlmutter

**Avail modules on perlmutter**

kokkos-kernels/3.4.01-cuda
kokkos-kernels/3.4.01-gcc-11.2.0-mpi-cuda
kokkos-kernels/3.4.01-

[2022-06-07 14:51] shahzebsiddiqui opened #84 "spack developer workflow test"
We need to add test for spack developer workflow outlined for each of the E4S stacks in https://docs.nersc.gov/applications/e4s/

[2022-06-07 16:24] shahzebsiddiqui commented on #81
This test is now fixed see https://my.cdash.org/test/56734479

![Screen Shot 2022-06-07 at 12 24 02 PM](https://user-images.githubusercontent.com/12942230/172432990-8d18921c-4db2-4468-8ccf-2ac78317f65d.png)

[2022-06-07 16:24] #81 closed

[2022-06-07 16:37] shahzebsiddiqui opened #85 "trilinos test for E4S/21.11 on Perlmutter"
@wspear

We have the following versions of trilinos in our E4S/21.11 stack see https://docs.nersc.gov/applications/e4s/perlmutter/21.11/. We should add trilinos test in the following directory https://github.com/buildtesters/buildtest-nersc/tree/devel/buildspecs/apps/trilinos.

[code]

One idea could be to run the E4S Testsuite so add the test in https://software.nersc.gov/NERSC/buildtest-nersc/-/

[2022-06-07 16:44] shahzebsiddiqui opened #86 "Refactor directory structure for E4S Testsuite"
This directory structure in https://github.com/buildtesters/buildtest-nersc/tree/devel/buildspecs/e4s/E4S-Testsuite

One idea is to do by `E4S-Testsuite/[cori|perlmutter]/` or one extra directory `E4S-Testsuite/[cori|perlmutter]/[e4s-[21.11|22.05]`  or do something like this where it includes all gasnet  test `E4S-Testsuite/[cori|perlmutter]/gasnet.yml` for all E4S stacks.

[2022-06-07 18:58] wspear commented on #86
Initial progress is contained here: https://software.nersc.gov/NERSC/buildtest-nersc/-/merge_requests/50
Dividing up the cori 22.02 tests (into separate intel and gnu subdirectories?) will probably come later.

[2022-06-07 19:00] wspear commented on #85
This PR adds a basic trilinos test from the E4S Testsuite for the 21.11 release. https://software.nersc.gov/NERSC/buildtest-nersc/-/merge_requests/50

[2022-06-08 18:37] shahzebsiddiqui commented on #86
Thanks @wspear  i dont think we need to separate by directories `intel` and `gnu` that may be overkill and too many subdirectories.

[2022-06-13 15:43] shahzebsiddiqui commented on #86
I am closing this issue since https://software.nersc.gov/NERSC/buildtest-nersc/-/merge_requests/50 is merged. Thanks for your help

[2022-06-13 15:43] #86 closed

[2022-06-13 15:44] shahzebsiddiqui commented on #85
Thanks @wspear i see there is a test for trilinos. Ill close this issue

[2022-06-13 15:44] #85 closed

[2022-06-14 00:01] shahzebsiddiqui commented on #84
Closing this issue, we now have developer workflow for E4S 22.02 and 21.11 in the following MRs

- https://software.nersc.gov/NERSC/buildtest-nersc/-/merge_requests/49
- https://software.nersc.gov/NERSC/buildtest-nersc/-/merge_requests/48

[2022-06-14 00:01] #84 closed

[2022-06-14 00:04] shahzebsiddiqui opened #88 "Add Spack Developer Workflow for E4S 21.05"
@wspear
Similar to issue https://github.com/buildtesters/buildtest-nersc/issues/84 we would like to get a spack developer workflow for this stack https://docs.nersc.gov/applications/e4s/cori/21.05/

We need to contribute a test in https://github.com/buildtesters/buildtest-nersc/tree/devel/buildspecs/apps/e4s that tests the user developer section used to install packages.

[2022-06-14 00:08] shahzebsiddiqui opened #89 "Hostname test for all partitions on Perlmutter"
@Xiangs18 We have this test https://github.com/buildtesters/buildtest-nersc/blob/devel/buildspecs/queues/perlmutter_hostname.yml that runs hostname for `debug` and `regular` qos however we also have a *preempt* qos

https://docs.nersc.gov/jobs/policy/#perlmutter-gpu

In addition we introduced Perlmutter CPUs that can run jobs on `debug` and `regular` qos we should have test for these.

Hostname te

[2022-06-14 00:11] shahzebsiddiqui opened #90 "Add batch test to xfer qos from Perlmutter"
@Xiangs18 here is a task for you

We can submit jobs to `xfer` qos shown below is an example from Perlmutter

[code]

According to https://docs.nersc.gov/jobs/policy/#perlmutter-login we can submit only 1 job to xfer qos at a time. We should declare an executor `perlmutter.slurm.xfer` in configuration file: https://github.com/buildtesters/buildtest-nersc/blob/devel/config.yml and run a hostname te

[2022-06-14 15:48] #82 closed

[2022-06-14 15:57] shahzebsiddiqui opened #91 "[Bug]:"
### CDASH Build

N/A

### Link to buildspec file

https://github.com/buildtesters/buildtest-nersc/blob/devel/buildspecs/system/kernel.yml

### Please describe the issue?

Failed to match regular expression

Shown below are the test results when running on Cori

[code]

### Relevant log output

[code]

The regex is a mismatch

[code]
[code]

[2022-06-14 16:30] shahzebsiddiqui opened #92 "[Bug]: Cmake requirement in trilinos test"
### CDASH Build

https://my.cdash.org/test/56752805

### Link to buildspec file

https://github.com/buildtesters/buildtest-nersc/blob/devel/buildspecs/e4s/E4S-Testsuite/perlmutter/21.11/trilinos.yml

### Please describe the issue?

There is an error with cmake version we should use this one so `spack load cmake`.

[code]

### Relevant log output

[code]
[code]

[2022-06-14 16:43] shahzebsiddiqui opened #93 "fix all invalid buildspecs"
This command was run from Cori and we have 36 buildspec that failed

[code]

Shown below are the invalid tests

[code]

[2022-06-14 22:17] wspear commented on #92
This PR should address this issue. https://software.nersc.gov/NERSC/buildtest-nersc/-/merge_requests/53

[2022-06-14 23:14] Xiangs18 commented on #89
Linked with [merge request !54](https://software.nersc.gov/NERSC/buildtest-nersc/-/merge_requests/54) on GitLab

[2022-06-15 00:10] Xiangs18 commented on #90
Linked with [merge request !55](https://software.nersc.gov/NERSC/buildtest-nersc/-/merge_requests/55) on GitLab

[2022-06-15 14:53] Xiangs18 commented on #89
<img width="844" alt="Screen Shot 2022-06-15 at 10 53 36 AM" src="https://user-images.githubusercontent.com/22202096/173858320-0d0f0ea8-473a-4641-b54c-1ddba968c73a.png">

[2022-06-15 14:59] Xiangs18 opened #94 "add hostname test for Perlmutter CPUs"
<img width="844" alt="Screen Shot 2022-06-15 at 10 53 36 AM" src="https://user-images.githubusercontent.com/22202096/173859476-711370d0-1671-423c-8ebb-e4d23b1b3f1e.png">

[2022-06-15 16:10] Xiangs18 commented on #94
Linked with [merge request !55](https://software.nersc.gov/NERSC/buildtest-nersc/-/merge_requests/55) on GitLab

[2022-06-15 18:03] #89 closed

[2022-06-15 18:03] #90 closed

[2022-06-16 21:25] shahzebsiddiqui commented on #88
That's for testing this out. Yeah I think this stack requires rebuild if you want to consult with Luke. We can start the rebuild after finishing up 22.05 and hold off on this test for time being since it's clearly not working and documentation is not reproducible.

Since this stack provides a build cache we may omit this going forward since it is useless as system changes the buildcache can't be u

[2022-06-21 15:55] shahzebsiddiqui opened #95 "cori_check pipeline runs forever"
According to https://software.nersc.gov/NERSC/buildtest-nersc/-/jobs/147529

We see the pipeline is running endlessly it is not clear which test is causing the issue. Since this pipeline is never completing we are not getting results uploaded to CDASH

![Screen Shot 2022-06-21 at 11 54 32 AM](https://user-images.githubusercontent.com/12942230/174843991-f3a77b01-439f-4634-9fef-8c529cb20795.png)

[2022-06-22 21:13] wspear commented on #88
A test deleting the ~/.spack directory makes me nervous. Would it be ok to move .spack to .spack-<timestamp> instead, just in case somebody else runs this and unexpectedly loses their user configuration?

[2022-06-23 13:45] shahzebsiddiqui commented on #88
Yeah now that i think about this we are testing the user documentation and since we don't document this `i.e rm -rf ~/.spack` in the workflow then i think we shouldn't include this just for fixing the test. Problem with `mv` statement is you can get error when the source directory doesn't exist.

[2022-06-24 17:56] wspear commented on #88
Can this be closed with https://software.nersc.gov/NERSC/buildtest-nersc/-/merge_requests/60 ?

[2022-06-28 16:01] shahzebsiddiqui commented on #93
This was addressed by https://software.nersc.gov/NERSC/buildtest-nersc/-/merge_requests/57

[2022-06-28 16:01] #93 closed

[2022-06-28 16:03] shahzebsiddiqui commented on #91
https://software.nersc.gov/NERSC/buildtest-nersc/-/merge_requests/59

[2022-06-28 16:04] #92 closed

[2022-07-05 15:57] shahzebsiddiqui opened #96 "add darshan test for Perlmutter from E4S Testsuite"
This test https://github.com/buildtesters/buildtest-nersc/blob/devel/buildspecs/apps/darshan/darshan-hello.yml is written for Cori we need one for perlmutter e4s stacks.

[2022-07-05 15:58] shahzebsiddiqui opened #97 "add hybrid mpi test for Perlmutter"
Add this test https://github.com/buildtesters/buildtest-nersc/blob/devel/buildspecs/apps/mpi/hybrid-hello.yml for Perlmutter using `cray-mpich` MPI provider using gcc or cray compiler

[2022-07-05 15:59] shahzebsiddiqui opened #98 "add laplace mpi test for Perlmutter"
Add this test https://github.com/buildtesters/buildtest-nersc/blob/devel/buildspecs/apps/mpi/laplace_mpi.yml for Perlmutter

[2022-07-05 16:00] shahzebsiddiqui opened #99 "OpenMP helloworld test for Perlmutter"
Add https://github.com/buildtesters/buildtest-nersc/blob/devel/buildspecs/apps/openmp/hello_openmp.yml test for Perlmutter using gcc, nvhpc or cray compiler.

[2022-07-05 16:09] shahzebsiddiqui opened #100 "petsc test for Perlmutter using E4S/21.11"
We have this test https://github.com/buildtesters/buildtest-nersc/blob/devel/buildspecs/apps/petsc/petsc_check.yml and https://github.com/buildtesters/buildtest-nersc/blob/devel/buildspecs/apps/petsc/petsc_fortran_check.yml for Cori E4S/22.05 stack, we should test this with Perlmutter E4S/21.11 stack with petsc.

[2022-07-05 16:12] shahzebsiddiqui opened #101 "Hello World test for Perlmutter"
Please incorporate the following hello world test for Perlmutter using gcc, cray, nvhpc compiler

- [x] C: https://github.com/buildtesters/buildtest-nersc/blob/devel/buildspecs/apps/serial/hello_c.yml
- [x] C++: https://github.com/buildtesters/buildtest-nersc/blob/devel/buildspecs/apps/serial/hello_cpp.yml
- [x] Fortran: https://github.com/buildtesters/buildtest-nersc/blob/devel/buildspecs/apps/se

[2022-07-05 16:16] shahzebsiddiqui opened #102 "[Bug]: unable to load gcc/10.1.0 compiler module on Cori"
### CDASH Build

https://my.cdash.org/test/58023286

### Link to buildspec file

https://github.com/buildtesters/buildtest-nersc/blob/devel/buildspecs/apps/serial/hello_c.yml

### Please describe the issue?

Unable to load `gcc/10.1.0` compiler module. We should update the buildtest configuration by either running `buildtest config compilers find`

We have this section for compiler definition unde

[2022-07-05 16:22] shahzebsiddiqui commented on #102
This also impacts the following cdash results
- https://my.cdash.org/test/58023287 (gcc/8.2.0)
- https://my.cdash.org/test/58023289 (gcc/6.3.0)
- https://my.cdash.org/test/58023290 (gcc/8.1.1-openacc-gcc-8-branch-20190215)
- https://my.cdash.org/test/58023292 (gcc/6.1.0)
- https://my.cdash.org/test/58023291 (gcc/9.3.0)

[2022-07-05 16:24] shahzebsiddiqui opened #103 "Add Perlmutter spack check for E4S/22.05"
Add check for E4S/22.05 deployment once its ready. This would be ready once `module load e4s/22.05` is present on Perlmutter.

https://github.com/buildtesters/buildtest-nersc/blob/devel/buildspecs/apps/spack/perlmutter_spack_check.yml

[2022-07-05 16:26] shahzebsiddiqui opened #105 "remove spack develop test"
please remove this test https://github.com/buildtesters/buildtest-nersc/blob/devel/buildspecs/apps/spack/tmp_filesystem_spack_test.yml

[2022-07-05 16:33] shahzebsiddiqui opened #106 "zoltan test for e4s/22.05 container version on Perlmutter"
Please add a zoltan test for e4s/22.05 container. See https://github.com/buildtesters/buildtest-nersc/blob/devel/buildspecs/apps/trilinos/zoltan.yml

Shown below are the available images on Perlmutter

[code]

To get interactive access into container you can do

[code]

We have trilinos installed in this container, please test one of the following versions.

[code]

[2022-07-05 16:51] shahzebsiddiqui commented on #106
@wspear assigning this task to you.

[2022-07-05 16:52] shahzebsiddiqui commented on #105
@JeffreyFG assigning this task to you. Should be relatively simple

[2022-07-05 16:53] shahzebsiddiqui commented on #101
@prathmesh4321 assigning this task to you

[2022-07-05 16:54] shahzebsiddiqui commented on #99
@Xiangs18 assigning this task to you

[2022-07-05 16:55] shahzebsiddiqui commented on #98
@Xiangs18 assigning this task to you

[2022-07-05 16:55] shahzebsiddiqui commented on #97
@Xiangs18 assigning this task to you

[2022-07-05 16:55] shahzebsiddiqui commented on #96
@JeffreyFG assigning this task to you

[2022-07-05 17:51] wspear commented on #106
@shahzebsiddiqui Should I just create/rename the tests like: zoltan-e4s-21.11.yml, zoltan-e4s-22.05.yml or would you prefer system/version-specific subdirectories?

[2022-07-05 18:02] shahzebsiddiqui commented on #106
please create a new test. I think that is up to you if you want a separate buildspec file or just have an additional test in the same file.

Note that you can also define a single test using the multiple executors using the `executors` property and define a regex on `executor`  take for instance https://github.com/buildtesters/buildtest-nersc/blob/devel/buildspecs/queues/hostname.yml test.

Since

[2022-07-07 22:09] #101 closed

[2022-07-25 15:38] shahzebsiddiqui opened #108 "upgrade jacamar runner for e4s user"
Before you start you'll need to have a newer Gitlab Runners version; however, it doesn't need to be installed at the system level for this workflows to function as you already run in userspace via the script. If you just grab the 14.10 runner version (as that aligns with your server) and point your deployment script to this binary instead or update that E4S users default PATH

GitLab Runner Releas

[2022-07-27 21:04] shahzebsiddiqui commented on #108
We have upgraded jacamar

[2022-07-27 21:04] #108 closed

[2022-07-27 21:50] shahzebsiddiqui opened #109 "E4S 22.05 Developer workflow for Perlmutter"
Please add a developer workflow for 22.05 in https://github.com/buildtesters/buildtest-nersc/tree/devel/buildspecs/apps/e4s for the documentation in https://docs.nersc.gov/applications/e4s/perlmutter/22.05/

[2022-08-01 18:59] shahzebsiddiqui opened #110 "Issue running Perlmutter CI jobs"
we cant run any of the perlmutter ci jobs due to error with modules such as this job https://software.nersc.gov/NERSC/buildtest-nersc/-/jobs/15227.

It is failing on the module load statement. We should fix the cp statement.
![Screen Shot 2022-08-01 at 2 59 13 PM](https://user-images.githubusercontent.com/12942230/182223645-330a266b-79cb-436b-bfaa-ccf69c296504.png)

[2022-08-01 20:23] shahzebsiddiqui opened #111 "Amrex E4S 22.05 test for Perlmutter"
We have several [amrex](https://github.com/buildtesters/buildtest-nersc/tree/devel/buildspecs/apps/amrex) test for older e4s stacks. We have recently installed e4s/22.05 on Perlmutter https://docs.nersc.gov/applications/e4s/perlmutter/22.05/ .

Currently we have `amrex/22.05-gcc-11.2.0` modulefile present which can be used for testing the user facing amrex.

We could reuse the same test https://gi

[2022-08-01 20:26] shahzebsiddiqui opened #112 "Run E4S Testsuite for e4s 22.05 stack on Perlmutter"
We need to run e4s testsuite for 22.05 stack on Perlmutter. We need to create a new directory named **22.05** in https://github.com/buildtesters/buildtest-nersc/tree/devel/buildspecs/e4s/E4S-Testsuite/perlmutter/ and then start adding some test for this stack.

Please consider adding test for some packages list `gasnet`, `hdf5` `kokkos`, `superlu`, `trilinos` and any other packages that are availa

[2022-08-01 20:32] shahzebsiddiqui opened #113 "Run spack test for E4S 22.05 on Perlmutter"
We need to test 22.05 e4s stack via `spack test`. Try to run `spack test list` to see available test that can be run for the `module load e4s/22.05`.

We need to do the following
- [ ] Try running several `spack test run` commands manually and integrate them into buildspec with corresponding spack package. For instance gasnet test goes in https://github.com/buildtesters/buildtest-nersc/blob/devel/

[2022-08-01 22:13] #109 closed

[2022-08-02 19:23] Xiangs18 commented on #98
https://software.nersc.gov/NERSC/buildtest-nersc/-/merge_requests/69

[2022-08-02 21:26] Xiangs18 commented on #99
https://software.nersc.gov/NERSC/buildtest-nersc/-/merge_requests/70

[2022-08-03 01:08] Xiangs18 commented on #97
https://software.nersc.gov/NERSC/buildtest-nersc/-/merge_requests/71

[2022-08-03 13:40] shahzebsiddiqui commented on #106
Thanks @wspear i will close this task now that https://software.nersc.gov/NERSC/buildtest-nersc/-/merge_requests/62 has been merged. I appreciate your contribution!

[2022-08-03 13:40] #106 closed

[2022-08-03 20:26] #98 closed

[2022-08-03 20:26] #99 closed

[2022-08-04 16:13] #100 closed

[2022-08-04 16:39] #97 closed

[2022-08-05 18:52] shahzebsiddiqui opened #115 "kokkos test for e4s/22.05 on Perlmutter"
@rgayatri it would be nice if we can get another test for kokkos in the e4s/22.05 deployment. We have installed the following kokkos specs

[code]

along with following kokkos modules

[code]
The test are located in  https://github.com/buildtesters/buildtest-nersc/tree/devel/buildspecs/apps/kokkos and we have this documented in https://docs.nersc.gov/applications/e4s/perlmutter/22.05/

[2022-08-05 20:18] shahzebsiddiqui commented on #110
This issue has been fixed now by setting `export NERSC_HOST=$(cat /etc/clustername)` in https://software.nersc.gov/NERSC/buildtest-nersc/-/merge_requests/72

[2022-08-05 20:18] #110 closed

[2022-08-08 18:09] shahzebsiddiqui commented on #105
Fix in https://software.nersc.gov/NERSC/buildtest-nersc/-/merge_requests/73

[2022-08-08 18:09] #105 closed

[2022-08-11 16:36] shahzebsiddiqui opened #116 "add mvapich2 test for 3.0a"
@sameershende @wspear

we have this test https://github.com/buildtesters/buildtest-nersc/blob/devel/buildspecs/apps/mvapich2/mvapich2-omb.yml that will validate mvapich2/2.7a we now have several more mvapich2 modules

[code]

[2022-08-11 18:47] sameershende commented on #116
Let us restrict the testing to mvapich2/3.0a-mpirun and mvapich2/3.0a-slurm since the other 2.3* modules are for Slingshot 10 on Perlmutter and this hardware has been replaced.

[2022-08-12 16:41] shahzebsiddiqui commented on #116
I agree. In that case lets remove the modulefile and perhaps change the names, i think we should encourage user to use the slurm launcher instead of mpirun so let's remove all modulefiles except for `mvapich2-gdr/3.0a` which should be the one that is slurm instance. Once we have the official release then we can name the modulefile `mvapich2-gdr/3.0` and just remove the alpha release.

[2022-08-16 00:46] shahzebsiddiqui commented on #116
Thanks @wspear i will close this issue we got https://software.nersc.gov/NERSC/buildtest-nersc/-/merge_requests/75 merged

[2022-08-16 00:46] #116 closed

[2022-08-16 00:47] shahzebsiddiqui commented on #103
closing this now. We got this test in https://software.nersc.gov/NERSC/buildtest-nersc/-/merge_requests/74

[2022-08-16 00:47] #103 closed

[2022-08-16 16:21] shahzebsiddiqui commented on #102
gcc/10.1.0 compiler has been removed in https://software.nersc.gov/NERSC/buildtest-nersc/-/merge_requests/77

[2022-08-16 16:21] #102 closed

[2022-08-16 16:35] shahzebsiddiqui opened #117 "create a muller entry in buildtest configuration to run test on muller"
Need to add entry for `muller` in https://github.com/buildtesters/buildtest-nersc/blob/devel/config.yml

[2022-08-17 18:48] jscook2345 commented on #113
[code]

[2022-08-17 23:33] shahzebsiddiqui commented on #113
Do you have any questions regarding this task. Yeah I expect this output is quite long and we don't need to test every package

See issue description and how other spack test are written

[2022-08-17 23:46] wspear commented on #112
https://software.nersc.gov/NERSC/buildtest-nersc/-/merge_requests/79

[2022-08-25 22:33] shahzebsiddiqui opened #119 "get a strumpack test for E4S 22.05 release"
@lisaclaus

We have strumpack installed in [E4S 22.05](https://docs.nersc.gov/applications/e4s/perlmutter/22.05/)

Shown below are the specs
[code]

We need a test preferably under https://github.com/buildtesters/buildtest-nersc/tree/devel/buildspecs/apps for a standalone strumpack test. We have previously run the `spack test` which seems to fail.

# Action Item
- [ ] Contribute some source file t

[2022-08-25 22:35] sameershende commented on #119
I acknowledge this issue. We will build an E4S testsuite test case for Strumpack.

[2022-08-25 22:38] shahzebsiddiqui commented on #119
Yes that would be great to have an E4S Testsuite, that is issue #112 assigned to @wspear. This was intended to have a standalone test from one of the application expert @lisaclaus who is familiar with this software to best determine how we can test this out.

[2022-08-25 22:41] wspear commented on #119
@shahzebsiddiqui Do you have a link to cdash output for the failing spack test (or can you paste the spack test log output here)? We need to report an issue with the package for that.  We already have an E4S testsuite test for strumpack that has been succeding on perlmutter. I can add it to buildtest-nersc.

[2022-08-26 14:03] shahzebsiddiqui commented on #119
ill get a most recent run for perlmutter e4s test there isnt anything in the past 2 weeks

[2022-08-29 22:47] shahzebsiddiqui opened #120 "add spack sanity check for existence of modules of important modules"
@jscook2345 and I had a discussion regarding spack stack were broken due to invalid paths in spack configuration for older stack which resulted in errors in `spack test`. We were unable to catch this error since there was no such test to run a validation on the existence of modules as part of the sanity check.

For instance the e4s/21.11 spack configuration https://github.com/NERSC/spack-infrastru

[2022-08-29 22:48] shahzebsiddiqui commented on #120
We should have a separate test for each e4s stack, but in future we can expect these test to be a single test assuming all of the E4S stack on Perlmutter use the same compiler but that cant be guaranteed.

[2022-08-30 15:12] shahzebsiddiqui commented on #117
This has been added in https://software.nersc.gov/NERSC/buildtest-nersc/-/commit/8b0f057cda103167346b1ca409b99056bc661fe7

[2022-08-30 15:12] #117 closed

[2022-08-30 15:17] shahzebsiddiqui opened #121 "Run Perlmutter test on muller"
@etpalmer63 we recently added `muller` system configuration that was addressed in https://github.com/buildtesters/buildtest-nersc/issues/117. That being said we have several test on Perlmutter which can run on muller system that will help us test on TDS system also we can test when Perlmutter is down.

Let's change the following test so that they will also run on muller

- [x] https://github.com/b

[2022-08-30 15:36] etpalmer63 commented on #121
https://software.nersc.gov/NERSC/software-support/issues/-/issues/28

[2022-08-30 15:39] etpalmer63 commented on #111
https://software.nersc.gov/NERSC/buildtest-nersc/-/merge_requests/81 Merged

[2022-08-30 15:39] #111 closed

[2022-08-30 16:56] shahzebsiddiqui opened #122 "skip test that are always failing for time being"
There are some test in perlmutter `e4s` buildname that are always failing. Look at https://my.cdash.org/viewTest.php?onlyfailed&buildid=2208689 and use `skip: true` for ones that won't finish to completion. For instance this test https://my.cdash.org/test/61035400 will fail for running `module` command with zsh.

[2022-08-30 16:58] shahzebsiddiqui commented on #112
going to close this now. Thanks @wspear

[2022-08-30 16:58] #112 closed

[2022-08-30 18:09] jscook2345 commented on #113
Yeah It's fine, I'm just documenting my way as I go through doing it manually

[2022-08-30 18:10] jscook2345 commented on #113
Wouldn't it be nice to have:

`spack test list cmake` so you could get a list of all cmake specs that can be tested?

[2022-08-30 18:12] jscook2345 commented on #113
All of cmake passed

[code]

[2022-08-30 18:15] jscook2345 commented on #113
All of `hdf5` passed

[code]

[2022-08-30 18:20] jscook2345 commented on #113
All of the `hypre` specs failed due to the `mpicc` command not being found.

Here is an example of the error:
[code]

[2022-08-30 18:26] jscook2345 commented on #113
All of the `kokkos` specs passed

[code]

[2022-08-30 18:27] jscook2345 commented on #113
All of the `libxml2` specs passed

[code]

[2022-08-30 18:31] jscook2345 commented on #113
All of the `petsc` specs failed with two types of errors:

[code]

[code]

[2022-08-30 18:34] jscook2345 commented on #113
All of the `python` specs passed.

[code]

[2022-08-30 18:39] jscook2345 commented on #113
All of the `slepc` specs failed.

The cray build segfaulted in `tcmalloc`
[code]

The gcc builds segfaulted in `petsc`
[code]

[2022-08-30 18:45] jscook2345 commented on #113
All of the `sqlite` specs passed.

[code]

[2022-08-30 18:49] jscook2345 commented on #113
All of the `sundails` specs passed.

All of it seems to be cmake configuration problems.

[code]

[2022-08-30 18:53] jscook2345 commented on #113
All of the `superlu` specs failed with the following error:

[code]

[2022-08-30 18:55] jscook2345 commented on #113
All of the `superlu-dist` specs failed with the following error:

[code]

[2022-08-30 18:57] jscook2345 commented on #113
All of the `amrex` specs passed.

[code]

[2022-08-30 19:01] jscook2345 commented on #113
All of the `berkeley-db` specs passed.

[code]

[2022-08-30 19:02] jscook2345 commented on #113
All of the `binutils` specs are passing.

[code]

[2022-08-30 19:29] jscook2345 commented on #113
All of the `gasnet` specs passed.

[code]

[2022-08-30 19:34] jscook2345 commented on #113
All of the `hpctoolkit` specs passed.

[code]

[2022-08-30 19:34] jscook2345 commented on #113
All of the `m4` specs passed.

[code]

[2022-08-30 19:36] jscook2345 commented on #113
All of the `meson` specs passed.

[code]

[2022-08-30 19:38] jscook2345 commented on #113
All of the `openpmd-api` specs failed.

[code]

[2022-08-30 19:39] jscook2345 commented on #113
All of the `parallel-netcdf` specs passed.

[code]

[2022-08-30 19:42] jscook2345 commented on #113
All of the `perl` specs passed.

[code]

[2022-08-30 19:46] jscook2345 commented on #113
All of the `qthreads` specs passed.

[code]

[2022-08-30 19:49] jscook2345 commented on #113
All of the `raja` specs passed.

[code]

[2022-08-30 19:52] jscook2345 commented on #113
All of the `slate` specs failed.

Looks like it's missing `lapack`.

[code]

[2022-08-30 19:57] jscook2345 commented on #113
All of the `strumpack` specs failed.

Looks like it needs some `slurm` options added.

[code]

[2022-08-30 19:59] jscook2345 commented on #113
All of the `tasmanian` specs failed.

[code]

[2022-08-30 20:53] jscook2345 commented on #113
All of the `tau` specs failed.

The errors are a bit more complex and look like they need further debugging.

It also causes the console to hang, requiring you to hit 'enter' to finish something running in the background.

[2022-08-30 20:56] jscook2345 commented on #113
All of the `warpx` specs failed.

[code]

[2022-08-30 20:57] jscook2345 commented on #113
All of the `py-beniget` specs passed.

[code]

[2022-08-30 20:58] jscook2345 commented on #113
All of the `py-cython` specs passed.

[code]

[2022-08-30 20:59] jscook2345 commented on #113
All of the `py-gast` specs passed.

[code]

[2022-08-30 21:00] jscook2345 commented on #113
All of the `py-mpi4py` specs failed.

[code]

[2022-08-30 21:01] jscook2345 commented on #113
All of the `py-numpy` specs passed.

[code]

[2022-08-30 21:02] jscook2345 commented on #113
All of the `py-periodictable` specs passed.

[code]

[2022-08-30 21:03] jscook2345 commented on #113
All of the `py-picmistandard` specs passed.

[code]

[2022-08-30 21:04] jscook2345 commented on #113
All of the `py-ply` specs passed.

[code]

[2022-08-30 21:05] jscook2345 commented on #113
All of the `py-pybind11` specs passed.

[code]

[2022-08-30 21:07] jscook2345 commented on #113
All of the `py-pyparsing` specs passed.

[code]

[2022-08-30 21:08] jscook2345 commented on #113
All of the `py-pythran` specs passed.

[code]

[2022-08-30 21:09] jscook2345 commented on #113
All of the `py-scipy` specs passed.

[code]

[2022-08-30 21:11] jscook2345 commented on #113
All of the `py-setuptools` specs passed.

[code]

[2022-08-30 21:19] jscook2345 commented on #113
All of the `py-warpx` specs passed.

Even though the `warpx` ones failed...?

[code]

[2022-09-01 14:37] etpalmer63 commented on #121
Note: AMReX test failed on muller with a no-CUDA-capable device error -- when I wrote the test, PM only had GPU, so I may need to go back and fix it.

[2022-09-01 14:45] etpalmer63 commented on #121
Scripts in e4s/spack_test/perlmutter run, but fail for several reasons

[2022-09-12 19:34] shahzebsiddiqui opened #123 "[Bug]: Error loading cmake in gasnet test with E4S 22.05 stack via E4S Testsuite"
@wspear

### CDASH Build

https://my.cdash.org/test/61574957

### Link to buildspec file

https://github.com/buildtesters/buildtest-nersc/blob/devel/buildspecs/e4s/E4S-Testsuite/perlmutter/22.05/gasnet.yml

### Please describe the issue?

Error in `spack load` command we need to be more specific in the `spack load` command preferably use `spack load --first`. I think the preferable should be for `

[2022-09-12 19:35] shahzebsiddiqui commented on #123
please fix the same problem with all other E4S Testsuite related test for instance i see same problem with HDF5 https://my.cdash.org/test/61574964

[2022-09-12 19:41] shahzebsiddiqui opened #124 "[Bug]: spack test failures on E4S 21.11"
### CDASH Build

https://my.cdash.org/test/61574935

### Link to buildspec file

https://github.com/buildtesters/buildtest-nersc/blob/devel/buildspecs/e4s/spack_test/perlmutter/hypre.yml

### Please describe the issue?

The E4S 21.11 stack is broken and this also resulted in test failure such as

[code]

We should rewrite this test since we dont load `PrgEnv-nvidia` by default so there is no need

[2022-09-12 19:44] shahzebsiddiqui opened #125 "[Bug]: kokkos test for E4S 21.11 requires cmake"
### CDASH Build

https://my.cdash.org/test/61574963

### Link to buildspec file

https://github.com/buildtesters/buildtest-nersc/blob/devel/buildspecs/e4s/spack_test/perlmutter/kokkos.yml

### Please describe the issue?

The E4S 21.11 stack on Perlmutter requires rebuild similar to #124. Once stack is rebuilt test may pass but we may want to make sure we test it locally. I suspect test needs cmake

[2022-09-12 19:46] shahzebsiddiqui commented on #123
looks like we also renamed the file `settings.cori.sh` doesnt exist anymore according to https://github.com/E4S-Project/testsuite/blob/master/settings.cray.sh

[2022-09-12 19:56] shahzebsiddiqui opened #126 "[Bug]: spack version changed for E4S 21.05 on Cori"
### CDASH Build

https://my.cdash.org/test/61543397

### Link to buildspec file

https://github.com/buildtesters/buildtest-nersc/blob/devel/buildspecs/apps/spack/cori_spack_check.yml

### Please describe the issue?

Apparently our spack version has changed we used to have a regex expression

[code]

According to output now we have

[code]

The test got a 0 returncode but failed on expression. It w

[2022-09-12 20:06] wspear commented on #123
These issues should be fixed by: https://software.nersc.gov/NERSC/buildtest-nersc/-/merge_requests/88

[2022-09-12 20:14] shahzebsiddiqui opened #127 "[Bug]: spack version mismatch E4S/22.02 on Cori"
### CDASH Build

https://my.cdash.org/test/61543400

### Link to buildspec file

https://github.com/buildtesters/buildtest-nersc/blob/devel/buildspecs/apps/spack/cori_spack_check.yml

_No response_

### Please describe the issue?

There is a mismatch in the spack version. We have the following content for the buildspec and apparently spack has decided to change the hash. We have not updated the sp

[2022-09-12 20:40] shahzebsiddiqui commented on #115
Note we don't have any modules so one must use `spack load` to get the software. Please refer to actual output of spack on filesystem

[2022-09-12 20:44] shahzebsiddiqui commented on #120
@jscook2345 do you think we should close this task or should we pursue this task. If we add test then test will show up in CDASH and run periodically but its already part of the github CI check and also part of reFrame that @etpalmer63 was working on

[2022-09-13 16:22] #120 closed

[2022-09-13 16:25] #123 closed

[2022-09-14 16:58] eugeneswalker commented on #126
We had to patch this deployment in response to the issue you filed here:
* https://github.com/E4S-Project/e4s/issues/63

That was in mid-May.

Was this test running OK after mid-May?

[2022-09-14 18:46] shahzebsiddiqui commented on #126
Oh right I remember this now did u patch 22.02 version bcz this changed its version too and it happened around same time.

[2022-09-15 20:31] eugeneswalker commented on #126
I don't remember having to patch E4S 22.02, no.

[2022-09-16 20:03] wspear commented on #113
Based on the testing task force discussion yesterday it would be helpful to take a look at the test logs as these results come through. Some tests may report success even though elements of their internal testing actually fail. If they're spotted, those cases should be reported to Spack as issues with the package implementation.

[2022-09-20 15:57] shahzebsiddiqui commented on #121
closing this task thanks @etpalmer63

[2022-09-20 15:57] #121 closed

[2022-09-20 16:09] #37 closed

[2022-09-20 22:00] wspear commented on #113
From an earlier discussion with @shahzebsiddiqui , here is an incomplete list of E4S packages with  spack test functionality built in:
amrex
gasnet
hdf5
hypre
heffte
kokkos
petsc
slepc
sundials
superlu
superlu-dist
raja
slate
strumpack
tasmanian
tau
warpx

These or a subset might be a good place to start with more in depth examination of the test results.

[2022-09-20 23:53] wspear opened #128 "E4S Testing Targets"
@shahzebsiddiqui has suggested that a subset of E4S tests should be selected to focus on initially.

I think this is a reasonable set to start with:

- adios2
- butterflypack
- dyninst
- hpctoolkit
- mfem
- qthreads
- vtk-m
- trilinos
- gasnet
- hdf5
- kokkos
- strumpack
- superlu-dist
- superlu

There is some overlap between the spack tests being examined here: https://github.com/buildtesters/bui

[2022-09-27 15:18] shahzebsiddiqui commented on #126
Thanks for reminder i forgot about this. Anyhow i have addressed this change in https://software.nersc.gov/NERSC/buildtest-nersc/-/merge_requests/89 with the new expected version and test is running successfully.

[2022-09-27 16:04] wspear commented on #96
We have separate darshan-runtime and darshan-util tests in the e4s-testsuite. I could add these to the perlmutter e4s buildtests if that would cover this requirement.

[2022-09-27 16:36] shahzebsiddiqui commented on #128
please add `petsc`

[2022-09-30 00:19] shahzebsiddiqui commented on #119
note i posted issue related to E4S Testsuite test for strumpack https://github.com/E4S-Project/testsuite/issues/37 we should probably get this fixed and any other test that may be relevant that we can use even if its not part of E4S Testsuite that we can run.

[2022-09-30 15:55] shahzebsiddiqui commented on #127
@prathmesh4321 can you please work on this

[2022-09-30 20:55] shahzebsiddiqui commented on #96
Yes please, let's add a darshan test. I will assign this to you @wspear.

[2022-10-03 15:48] shahzebsiddiqui opened #129 "[Bug]: kokkos failure in E4S Testsuite"
### CDASH Build

https://my.cdash.org/test/63278698

### Link to buildspec file

https://github.com/buildtesters/buildtest-nersc/blob/devel/buildspecs/e4s/E4S-Testsuite/perlmutter/22.05/kokkos.yml

### Please describe the issue?

kokkos test is failing see https://github.com/E4S-Project/testsuite/issues/41

### Relevant log output

[code]

[2022-10-03 15:56] shahzebsiddiqui opened #130 "[Bug]: hdf5 test failing from E4S Testsuite"
### CDASH Build

https://my.cdash.org/test/63278692

### Link to buildspec file

https://github.com/buildtesters/buildtest-nersc/blob/devel/buildspecs/e4s/E4S-Testsuite/perlmutter/22.05/hdf5.yml

### Please describe the issue?

See issue https://github.com/E4S-Project/testsuite/issues/40

### Relevant log output

[code]

[2022-10-03 15:57] shahzebsiddiqui opened #131 "[Bug]: trilinos test failing"
### CDASH Build

https://my.cdash.org/test/63278708

### Link to buildspec file

https://github.com/buildtesters/buildtest-nersc/blob/devel/buildspecs/e4s/E4S-Testsuite/perlmutter/22.05/trilinos.yml

### Please describe the issue?

see issue https://github.com/E4S-Project/testsuite/issues/39

### Relevant log output

[code]

[2022-10-03 15:57] shahzebsiddiqui opened #132 "[Bug]: superlu test failing from E4S Testsuite"
### CDASH Build

https://my.cdash.org/test/63278701

### Link to buildspec file

https://github.com/buildtesters/buildtest-nersc/blob/devel/buildspecs/e4s/E4S-Testsuite/perlmutter/22.05/superlu.yml

### Please describe the issue?

see https://github.com/E4S-Project/testsuite/issues/38

### Relevant log output

[code]

[2022-10-03 15:58] shahzebsiddiqui opened #133 "[Bug]: strumpack test failed from E4S Testsuite"
### CDASH Build

https://my.cdash.org/test/63278714

### Link to buildspec file

https://github.com/buildtesters/buildtest-nersc/blob/devel/buildspecs/e4s/E4S-Testsuite/perlmutter/22.05/strumpack.yml

### Please describe the issue?

see https://github.com/E4S-Project/testsuite/issues/37

### Relevant log output

[code]

[2022-10-03 17:15] wspear commented on #130
@shahzebsiddiqui  I was unable to replicate this issue manually using the exact set of commands used in the buildtest. See the output below.

How would this`: /global/common/software/nersc/pm-2022q3/sw/python/3.9-anaconda-2021.11/bin/h5format_convert` get into the test environment? I believe the test is failing because it wants to find that executable in the hdf5 install prefix, not any other loca

[2022-10-03 17:39] wspear commented on #133
@pghysels : We are unable to get simple strumpack tests to run on perlmutter with either the public E4S 22.05 deployment or the in-progress 22.08 test deployment. Do you have any suggestions, or is there someone I should contact about the error above ( ./testPoisson2d 100 --sp_disable_gpu fails with a segmentation fault)

Ideally we could switch this test to use the internal spack test defined in

[2022-10-03 18:05] wspear commented on #132
@shahzebsiddiqui
This error occurs when the test targets the cce-built version of superlu instead of gcc. Since we are currently only targeting gcc builds (until otherwise specified) I have changed the settings file for cray to always specify %gcc which should address this and similar issues (https://github.com/E4S-Project/testsuite/commit/67560a5473652565cf2a459ec77af1c45d75ccef). Are there suppo

[2022-10-03 18:19] wspear commented on #129
This issue was caused by testing the cce build of kokkos in a gnu build/test environment. It should be fixed by: https://github.com/E4S-Project/testsuite/commit/67560a5473652565cf2a459ec77af1c45d75ccef

[2022-10-03 23:26] wspear commented on #131
Setting MPICH_GPU_SUPPORT_ENABLED to 0 at runtime works around this error but the test still segfaults after it prints a confirmation of success. The backtrace from the resulting core file looks like:
[code]
I'm not sure turning off MPICH_GPU_SUPPORT_ENABLED is an acceptable fix.

[2022-10-05 16:06] shahzebsiddiqui opened #134 "kokkos CUDA test on Perlmutter for E4S 22.05 stack"
@rgayatri23
There was an MR https://software.nersc.gov/NERSC/buildtest-nersc/-/merge_requests/94 to add OpenMP kokkos test for E4S 22.05 but no CUDA test. We have kokkos test in https://github.com/buildtesters/buildtest-nersc/tree/devel/buildspecs/apps/kokkos so we should add one CUDA test for our kokkos installation.

[2022-10-05 16:17] shahzebsiddiqui commented on #133
so would it help to do `module unload cray-libsci` to work around this issue? I guess if this test fails then maybe we should find a different test to run. @pghysels and @wspear can you please have a fix for this so we can get this test running correctly

[2022-10-05 17:16] pghysels commented on #133
Lisa Claus from NERSC recommends replacing cray-libsci/21.08.1.2  with cray-libsci/22.06.1.3 on Perlmutter.

[2022-10-05 17:31] shahzebsiddiqui commented on #133
yeah i spoke to @lisaclaus about this. Unfortunately PM is down today and i think Lisa will be out for some time, can either of you test this out once PM is back.

[2022-10-11 16:12] shahzebsiddiqui commented on #96
this will be addressed in https://software.nersc.gov/NERSC/buildtest-nersc/-/merge_requests/95

[2022-10-12 16:46] shahzebsiddiqui commented on #132
i see now, in that case we should tailor our E4S Testsuite to only run on gcc specs, lets try running the perlmutter e4s tests and then see if the test pass, if not we may need to fix the test.

[2022-10-12 19:34] pghysels commented on #133
I can not reproduce this error on Perlmutter with cray-libsci/21.08.1.2.

But I had disabled CUDA, because again, CMake doesn't find CUDA::cublas etc. because those are in the math_libs folder. I need to figure that out.

[2022-10-25 14:26] shahzebsiddiqui opened #136 "E4S 21.11 workflow test missing commands"
this test needs to be rewritten https://github.com/buildtesters/buildtest-nersc/blob/devel/buildspecs/apps/e4s/21.11/workflow.yml to match the documentation in https://docs.nersc.gov/applications/e4s/perlmutter/21.11/ for instance we don't run commands `spack tags` and `spack find -t e4s --format "{name}" | uniq | wc -l`. Right now the test was focused on testing https://docs.nersc.gov/application

[2022-10-25 14:33] shahzebsiddiqui opened #137 "rewrite e4s 22.05 developer workflow test"
we need to rewrite this test https://github.com/buildtesters/buildtest-nersc/blob/devel/buildspecs/apps/e4s/22.05/developer_workflow.yml to match our documentation https://docs.nersc.gov/applications/e4s/perlmutter/22.05/.

We are missing several commands such as
- `spack find` output
- `spack load` and `spack unload`.
- `cat $SPACK_ROOT/etc/spack/modules.yaml` and `cat $SPACK_ROOT/etc/spack/confi

[2022-10-25 16:37] shahzebsiddiqui commented on #130
I tested this locally and it seems like it was working, let's rerun the test on muller and see if this test passes

[2022-10-28 13:54] #115 closed

[2022-11-04 15:47] shahzebsiddiqui opened #139 "adding a hpctoolkit test for e4s/22.05"
Currently we have the following spec installed in e4s/22.05 stack on perlmutter

[code]

[code]

[code]

[2022-11-04 16:05] wyphan commented on #139
@shahzebsiddiqui Currently the smoke test is a short CPU-only test, and the above output seems to indicate that it executed successfully. The HPCToolkit team are still working to get GPU tests in `spack test`, which would be important to reflect real-world Perlmutter usage at NERSC.

Summoning @blue42u to give more details.

[2022-11-04 16:08] shahzebsiddiqui commented on #139
Yeah a GPU test would be relevant however it would work for the current spec we have installed since it wasn't built with `cuda` support. I will try to see if we can get some more packages built in the 22.05 stack and see if we can get a `hpctoolkit +cuda` so we can test this out.

[2022-11-04 16:49] blue42u commented on #139
@shahzebsiddiqui
We will be eventually adding single-node GPU tests to `spack test`, so running that way is definitely what we would prefer.

It's still early stages, but we may require that GPU hardware is available for those tests (i.e. `spack test run hpctoolkit +cuda` fails without an Nvidia GPU, `spack test run hpctoolkit +rocm` fails without an AMD GPU, etc.). Will that be an issue for your

[2022-11-07 18:36] shahzebsiddiqui commented on #139
hi @blue42u so yes we would be interesting in having some more comprehensive tests such as multi-node test and GPU test. For Perlmutter we are using NVIDIA A100 so we would be interested in the `spack test run hpctoolkit +cuda`.

For immediate need we can have a standalone test implemented in buildtest without having to rely on spack test since i suspect you don't have the proper support for `spac

[2022-11-07 23:49] rgayatri23 commented on #134
The test has been added and merged
https://software.nersc.gov/NERSC/buildtest-nersc/-/merge_requests/104

[2022-11-08 15:33] #134 closed

[2022-11-08 15:38] shahzebsiddiqui opened #140 "[Bug]: Investigate deploying spack settings for E4S/21.11"
### CDASH Build

https://my.cdash.org/test/66436436

### Link to buildspec file

https://github.com/buildtesters/buildtest-nersc/blob/devel/buildspecs/apps/spack/spack_directory_checks.yml

### Please describe the issue?

We are unable to access the spack settings

After checking the files we only have these configuration files
[code]

### Relevant log output

[code]

[2022-11-08 15:38] shahzebsiddiqui commented on #140
@etpalmer63 can you please investigate this, must be something wrong with our E4S-21.11 deployment it didnt copy the two files over to production path.

[2022-11-08 15:41] shahzebsiddiqui commented on #130
@wspear the hdf5 test is still failing based on the latest run https://my.cdash.org/test/66436453.

What i don't understand is why its picking up the python library from our conda instance. I mean we can try to troubleshoot this by running `module list` and `which python` but i dont get why this got picked up

[code]

[2022-11-08 15:49] shahzebsiddiqui opened #141 "[Bug]: hpctoolkit E4S/22.05 test failing from E4S Testsuite"
### CDASH Build

https://my.cdash.org/test/66436450

### Link to buildspec file

https://github.com/buildtesters/buildtest-nersc/blob/devel/buildspecs/e4s/E4S-Testsuite/perlmutter/22.05/hpctoolkit.yml

### Please describe the issue?

It seems like the test is missing a measurement file or directory its not clear where `hpctoolkit-loop-measurements` is supposed to be located whether its created as

[2022-11-08 15:50] shahzebsiddiqui commented on #141
looping in @wspear @wyphan @blue42u.

[2022-11-08 16:00] shahzebsiddiqui opened #142 "[Bug]: mfem test from E4S Testsuite failing due to spec mismatch"
### CDASH Build

https://my.cdash.org/test/66436464

### Link to buildspec file

https://github.com/buildtesters/buildtest-nersc/blob/devel/buildspecs/e4s/E4S-Testsuite/perlmutter/22.05/mfem.yml

### Please describe the issue?

It looks like E4S Testsuite for mfem has a explicit requirement for the spec which makes this test fail. According to line https://github.com/E4S-Project/testsuite/blob/mas

[2022-11-08 16:08] shahzebsiddiqui opened #143 "[Bug]: qthreads test fail with SegFault for E4S/22.05"
### CDASH Build

https://my.cdash.org/test/66436444

### Link to buildspec file

https://github.com/buildtesters/buildtest-nersc/blob/devel/buildspecs/e4s/E4S-Testsuite/perlmutter/22.05/qthreads.yml

### Please describe the issue?

@wspear

There is a Segmentation Fault when running this test. We need to debug this. Looks like the binary is just invoked as `./a.out` in https://github.com/E4S-Proje

[2022-11-08 16:25] shahzebsiddiqui opened #144 "[Bug]: superlu-dist test failing due to Permission Issues. Broken spack test"
### CDASH Build

https://my.cdash.org/test/66436440

### Link to buildspec file

https://github.com/buildtesters/buildtest-nersc/blob/devel/buildspecs/e4s/E4S-Testsuite/perlmutter/22.05/superlu-dist.yml

### Please describe the issue?

@wspear

This test looks like its running the spack test from E4S Testsuite according to https://github.com/E4S-Project/testsuite/blob/master/validation_tests/super

[2022-11-08 16:26] shahzebsiddiqui commented on #144
looping in @xiaoyeli @liuyangzhuan

[2022-11-08 16:31] shahzebsiddiqui opened #145 "[Bug]: Trilinos test unable to link to GTL library"
### CDASH Build

https://my.cdash.org/test/66436454

### Link to buildspec file

https://github.com/buildtesters/buildtest-nersc/blob/devel/buildspecs/e4s/E4S-Testsuite/perlmutter/22.05/trilinos.yml

### Please describe the issue?

@wspear We have seen this error reported by multiple users and this is somewhat documented in https://docs.nersc.gov/development/compilers/wrappers/#set-the-accelerator

[2022-11-08 17:10] wspear commented on #144
This issue is also reported/discussed here: https://github.com/spack/spack/issues/29688

[2022-11-08 17:27] liuyangzhuan commented on #144
@shahzebsiddiqui  this has been fixed in the spack develop branch
https://github.com/spack/spack/blob/develop/var/spack/repos/builtin/packages/superlu-dist/package.py
can you apply the changes?

[2022-11-08 17:33] #128 closed

[2022-11-08 17:41] shahzebsiddiqui commented on #127
this was fixed by https://software.nersc.gov/NERSC/buildtest-nersc/-/merge_requests/99

[2022-11-08 17:41] #127 closed

[2022-11-08 19:19] blue42u commented on #141
This is a flaw in the E4S validation test (which we wrote, so it's on us). The Makefile assumes the default measurements directory will be `hpctoolkit-loop-measurements`, but when running under supported job launchers we suffix `-JOBID` to that, which the test is not expecting.

I believe this test should be fixed once https://github.com/E4S-Project/testsuite/pull/45 is merged.

[2022-11-08 19:51] #141 closed

[2022-11-09 19:38] shahzebsiddiqui commented on #139
Okay there is now a spack test for hpctoolkit in buildtest see https://software.nersc.gov/NERSC/buildtest-nersc/-/merge_requests/112. I ran the test locally and it was working.

[2022-11-11 22:35] wyphan opened #146 "Adding test for hpctoolkit +cuda"
This issue is for tracking the progress of adding a GPU-enabled test for `hpctoolkit` in buildtest, specifically for testing with CUDA on Perlmutter's NVIDIA A100 GPUs.

[2022-11-22 16:34] shahzebsiddiqui commented on #140
the files are present on filesystem
[code]

[2022-11-22 16:37] shahzebsiddiqui commented on #140
@jscook2345 this has now been addressed in https://software.nersc.gov/NERSC/spack-infrastructure/-/commit/2b69b52f9117955288683006515e76fd420241d9 so that we don't forget this step in CI process.

[2022-11-22 16:38] #140 closed

[2022-11-22 16:39] #137 closed

[2022-11-22 16:41] shahzebsiddiqui commented on #130
@wspear let's remove this test considering we already have test from `spack test` so i dont see any point in having test run from both E4S Testsuite and spack test. I think for now let's remove all E4S Testsuite test that invoke `spack test` and only test the ones that don't use `spack test`.

[2022-11-22 16:50] shahzebsiddiqui commented on #146
@wyphan would you be able to contribute a `hpctoolkit +cuda` test. The package we want to test is this one

[code]

[2022-11-22 16:54] shahzebsiddiqui commented on #129
ahh good i can see this test has passed now https://my.cdash.org/test/67656602

![Screen Shot 2022-11-22 at 11 54 35 AM](https://user-images.githubusercontent.com/12942230/203374420-f17203fa-346a-42a9-a389-1f890e6fc3f7.png)

[2022-11-22 16:54] #129 closed

[2022-11-22 16:57] shahzebsiddiqui commented on #132
oh good this test is now passing https://my.cdash.org/test/67656611

![Screen Shot 2022-11-22 at 11 57 27 AM](https://user-images.githubusercontent.com/12942230/203375088-672bae60-8b5b-439d-8626-e35c506f5cb6.png)

[2022-11-22 16:57] #132 closed

[2022-11-22 17:13] shahzebsiddiqui opened #148 "[Bug]: remove darshan-runtime test from E4S Testsuite"
### CDASH Build

https://my.cdash.org/test/67656620

### Link to buildspec file

https://github.com/buildtesters/buildtest-nersc/blob/devel/buildspecs/e4s/E4S-Testsuite/perlmutter/22.05/darshan-runtime.yml

### Please describe the issue?

we dont have `darshan-runtime` installed in e4s/22.05

### Relevant log output

[code]

[2022-11-22 17:15] shahzebsiddiqui commented on #148
also let's remove https://github.com/buildtesters/buildtest-nersc/blob/devel/buildspecs/e4s/E4S-Testsuite/perlmutter/22.05/darshan-util.yml since we don't have `darshan-util` installed see https://my.cdash.org/test/67656617

[2022-11-22 17:19] shahzebsiddiqui opened #149 "[Bug]: amrex test failing with CMake requirement"
### CDASH Build

https://my.cdash.org/test/67656610

### Link to buildspec file

https://github.com/buildtesters/buildtest-nersc/blob/devel/buildspecs/apps/amrex/amrex_single_vortex_perlmutter.yml

### Please describe the issue?

The default cmake is 3.17.0 we should probably do `spack load --first cmake` to get the latest cmake

[code]

Also we should fix the test for `module load e4s/21.11-tcl`

[2022-11-22 17:19] shahzebsiddiqui commented on #149
@etpalmer63 can you please fix this test

[2022-11-29 18:04] #96 closed